#figure {
	position: fixed;
	background: url('./fig/fn0.png');
	background-position: 0 0;
	width: 150px;
	height: 150px;
	z-index: 1000;
	top: auto;
	right: auto;
	left: 50%;
	bottom: auto;
}
.flip {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
.rotate {
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.debug {
	font-family: sans-serif;
	font-size: 10pt;
}